.ctg-root {
    & a,
    & a:link,
    & a:visited,
    & a:hover,
    & a:active {
        color: var(--color-link);
        transition: var(--transition--color);
        text-underline-position: under;
        text-decoration-color: var(--color-link--hover);
    }

    & a:hover,
    & a:focus {
        color: var(--color-link--hover);
    }
}
