---
import HeadingsExample from "@/examples/headings/index.astro";
import ParagraphsExample from "@/examples/paragraphs/index.astro";
import HyperLinksExample from "@/examples/hyperlinks/index.astro";
import ListsExample from "@/examples/lists/index.astro";
import SectioningExample from "@/examples/sectioning/index.astro";
import QuotesAndEmphasisExample from "@/examples/quotes-and-emphasis/index.astro";
import FormControlsExample from "@/examples/form-controls/index.astro";
import UtilityClassesExample from "@/examples/utility-classes/index.astro";
import { siteUrl } from "@/util";
---

<h1 id="top">CSS To Go - examples</h1>

<div>
    <slot />&nbsp;Or go back to the <a href={siteUrl("/")}>overview</a>.
</div>

<p>
    Below follows examples of the styles and utilities provided by <em
        ><a href="https://github.com/npup/css-to-go">CSS To Go</a></em
    >.
</p>

<ul>
    <li><a href="#example-headings">Headings</a></li>
    <li><a href="#example-paragraphs">Paragraphs</a></li>
    <li><a href="#example-hyperlinks">Hyperlinks</a></li>
    <li><a href="#example-lists">Lists</a></li>
    <li><a href="#example-sectioning">Sectioning</a></li>
    <li><a href="#example-quotes-and-emphasis">Quotes and emphasis</a></li>
    <li><a href="#example-form-controls">Form controls</a></li>
    <li><a href="#example-utility-classes">Utility classes</a></li>
</ul>

<hr />

<HeadingsExample anchor="example-headings" />
<ParagraphsExample anchor="example-paragraphs" />
<HyperLinksExample anchor="example-hyperlinks" />
<ListsExample anchor="example-lists" />
<SectioningExample anchor="example-sectioning" />
<QuotesAndEmphasisExample anchor="example-quotes-and-emphasis" />
<FormControlsExample anchor="example-form-controls" />
<UtilityClassesExample anchor="example-utility-classes" />
