---
import Layout from "@/layouts/main.astro";
import ExampleContent from "@/components/ExampleContent.astro";
import { siteUrl } from "@/util";
---

<Layout useCTG={true} theme="dark">
    <ExampleContent>
        Try <a href={siteUrl("examples/theme-light")}>light mode</a>.
    </ExampleContent>
</Layout>
